<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Dating Site</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">My Dating Site</span>
    </nav>

    <!--Main Section-->
    <div class="container m-0 border rounded">
        <div class="row">
            <!--Left Box-->
            <div class="col-6 d-flex-col align-items-center justify-content-center pt-5 pl-4 pr-4">
                <!--About Us Box-->
                <div class="mb-4">
                    <h1 class="text-center">My Dating Website</h1>
                    <p>Welcome to the most successful dating website. At <b>My Dating Website</b> you'll meet
                        like-minded individuals. We have the highest success rate of couples on the web. User's are
                        matched by interest and location. Find out why so many others have found love on
                        our site!</p>
                </div>

                <!--Testimonial Box-->
                <div>
                    <h5 class="text-center">Hear what our users are saying about us.</h5>
                    <hr>
                    <div class="pl-5 pr-5">
                        <blockquote class="blockquote">
                            <p><small><em>"I met the love of my life after only a month!" - Andrea</em></small></p>
                        </blockquote>
                        <blockquote class="blockquote">
                            <p><small><em>"It was so easy to set up and find a profile and start meeting people.
                                I didn't realize how many others were looking for love in my area." - John Smith</em></small></p>
                        </blockquote>
                        <blockquote class="blockquote">
                            <p><small><em>"Just try it! You'll never be the same!" - Sarah</em></small></p>
                        </blockquote>
                    </div>
                    <hr>
                </div>

                <!--Button Box-->
                <div class="text-center">
                    <button class="btn btn-primary">Create a Profile!</button>
                </div>
            </div>

            <!--Right Box-->
            <div class="col-6 d-flex align-items-center justify-content-center p-4">
                <img id="datingImg" class="rounded" src="images/dating.jpg" alt="Dating Photo">
            </div>
        </div>
    </div>


<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>