<!--
Author: William Wittig
Filename: personalInfo.html
Version: 1.0
Description: This is the personal information page for the dating site
-->

<include href="views/header.html"></include>

<!--Form Section-->
<form method="post" action="#" class="form-horizontal m-5 p-4 border rounded">
    <div class="d-block">
        <h1>Personal Information</h1>
        <hr>
    </div>

    <!--Main Section-->
    <div class="d-flex">
        <!--Left Box-->
        <div class="d-flex flex-column flex-grow-1 justify-content-start">
            <div class="form-group">
                <!--Input with sticky-->
                <label><b>First Name</b></label>
                <input type="text" class="form-control" name="fname" value="{{ @SESSION['fname'] }}">

                <check if="{{ isset(@errors['fname']) }}">
                    <span class="text-danger">{{ @errors['fname'] }}</span>
                </check>
            </div>

            <div class="form-group mt-2">
                <!--Input with sticky-->
                <label><b>Last Name</b></label>
                <input type="text" class="form-control" name="lname" value="{{ @SESSION['lname'] }}">

                <check if="{{ isset(@errors['lname']) }}">
                    <span class="text-danger">{{ @errors['lname'] }}</span>
                </check>
            </div>

            <div class="form-group mt-2">
                <!--Input with sticky-->
                <label><b>Age</b></label>
                <input type="text" class="form-control" name="age" value="{{ @SESSION['age'] }}">

                <check if="{{ isset(@errors['age']) }}">
                    <span class="text-danger">{{ @errors['age'] }}</span>
                </check>
            </div>

            <label class="mt-2"><b>Gender Options</b></label>
            <repeat group="{{ @genders }}" value="{{ @gender }}">
                <!--Input with sticky-->
                <div class="form-check form-check-inline mt-2">
                    <label class="form-check-label">
                        <input type="radio" name="genderOptions" class="form-check-input" value="{{ @gender }}"
                            <check if="{{ @gender == $_SESSION['genderOptions'] }}">checked="checked"</check>
                        >
                    {{ ucfirst(@gender) }}</label>
                </div>
            </repeat>

            <div class="form-group mt-2">
                <label><b>Phone Number</b></label>
                <!--Input with sticky-->
                <input type="text" class="form-control" id="phoneNum" name="phoneNum" value="{{ @SESSION['phoneNum'] }}">

                <check if="{{ isset(@errors['phoneNum']) }}">
                    <span class="text-danger">{{ @errors['phoneNum'] }}</span>
                </check>
            </div>

            <div class="form-group mt-2">
                <label class="mt-2"><b>Premium Account</b></label>
                <label class="form-check-label d-block mt-1">
                    <input type="checkbox" name="premium" class="form-check-input" value="premium">
                    Sign me up for a Premium Account!</label>
            </div>
        </div>

        <!--Right Box-->
        <div id="warningBox" class="d-flex flex-column">
            <div class="border border-dark rounded mb-5 p-2 align-self-start warningMsg">
                <p><b>Note: </b>All information entered is protected by our privacy policy. Profile
                information can only be viewed by others with your permission.</p>
            </div>
            <!-- Add button to a column and add an offset to put it to the right -->
            <!-- Create row / columns to have each page appear uniformly on each page -->
            <button type="submit" class="btn btn-primary btn-nxt align-self-end mt-auto">Next ></button>
        </div>
    </div>
</form>
<include href="views/js.html"></include>