<!--
Author: William Wittig
Filename: profileSummary.html
Version: 1.0
Description: This is the summary page for the dating site
-->

<include href="views/header.html"></include>

<!--Summary Box-->
<div class="row m-5 p-5 border rounded">
    <div class="col-6 p-2 mb-0">
        <div class="p-2 border rounded-top">
            <span>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</span>
        </div>
        <div class="p-2 border">
            <span>Gender: {{ @SESSION.genderOptions }}</span>
        </div>
        <div class="p-2 border">
            <span>Age: {{ @SESSION.age }}</span>
        </div>
        <div class="p-2 border">
            <span>Phone: {{ @SESSION.phoneNum }}</span>
        </div>
        <div class="p-2 border">
            <span>Email: {{ @SESSION.email }}</span>
        </div>
        <div class="p-2 border">
            <span>State: {{ @SESSION.state }}</span>
        </div>
        <div class="p-2 border">
            <span>Seeking: {{ @SESSION.seekingOptions }}</span>
        </div>
        <div class="p-2 border rounded-bottom">
            <span class="d-block">Indoor Interests: {{ @SESSION.indoorInterests }}</span>
            <span class="d-block mt-2">Outdoor Interests: {{ @SESSION.outdoorInterests }}</span>

        </div>
    </div>
    <div class="col-6 p-2 mb-0 text-center">
        <img id="profileImg" class="rounded" src="images/profile.png" alt="Profile Photo">
        <div class="m-3">
            <h3 class="text-start">Biography</h3>
            <p>{{ @SESSION.bio }}</p>
        </div>
    </div>
    <div class="text-center mt-0">
        <button type="submit" class="btn btn-primary btn-lg mt-5">Contact Me!</button>
    </div>
</div>
<include href="views/js.html"></include>


